{% extends "base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}

<style>
    .highlight {
        background-color: yellow;
    }
    .correct {
        background-color: #2ecc71;
        border: 2px solid #15B358;
        color: #ffffff;
    }
    .incorrect {
        background-color: #e74c3c;
        border: 2px solid #CE3323;
        color: #ffffff;
    }
    .relevant-sentences ul {
        margin-top: 0;
    }
</style>
<script src="https://unpkg.com/compromise"></script>

<div class="navbar">
    <div class="nav-logo"><img src="{% static 'mysite/logo.png' %}" width="250px", height="auto"></div>
    <div class="nav-links">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'test' %}"><span class="active-page">Test</span></a>
        <a class="nav-link" href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:none;">
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="progress-container">
    <div class="progress-bar" id="progress-bar" style="width: 0%;"></div>
  </div>
  <script>
    const answeredQuestionsCount = parseInt("{{ history|length }}");
    const totalQuestionsCount = parseInt("{{ questions_count }}");
  
    function updateProgressBar() {
      const progressBar = document.getElementById('progress-bar');
      const progress = (answeredQuestionsCount / totalQuestionsCount) * 100;
  
      progressBar.style.width = progress + '%';
    }
  
    updateProgressBar();
</script>
<div class="test-content">
    <button id="exit-btn" onclick="handleExitClick()" class="exit-btn">X</button>
    <h3 id="question-count">Question {{ history|length|add:"1" }}/{{ questions_count }}</h3>
    <p id="passage">{{ question.passage }}</p>

  <!-- <h3>Question:</h3> -->
  <p id="question">{{ question.question_text }}</p>

  <form id="answer-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="selected_choice" id="selected_choice" value="">
    
    <script>
    function handleExitClick() {
        window.location.href = "{% url 'home' %}";
    }

        
    let submitted = false;

    function handleChoiceClick(button) {
        if (submitted) {
            return;
        }

        let choiceButtons = document.getElementsByClassName('choice-btn');
        let submitButton = document.getElementById('submit-btn');
        
        // If the button is already selected, deselect it
        if (button.classList.contains('selected')) {
            button.classList.remove('selected');
            submitButton.disabled = true;
            return;
        }
        
        // Clear previous selection
        for (let i = 0; i < choiceButtons.length; i++) {
            choiceButtons[i].classList.remove('selected');
            choiceButtons[i].classList.remove('correct');
            choiceButtons[i].classList.remove('incorrect');
        }
        
        // Highlight the selected button
        button.classList.add('selected');
        selectedButton = button;
        submitButton.disabled = false;
        document.getElementById('selected_choice').value = button.innerText;
    }

    function highlightPassage(relevant_sentences) {
        let passageElement = document.getElementById('passage');
        let passageText = passageElement.innerText;

        // Helper function for processing each sentence synchronously
        function processSentence(sentence) {
            let sentences = nlp(sentence).sentences().out('text');
            return sentences;
        }

        // Split each relevant sentence into separate sentences
        let allRelevantSentences = relevant_sentences.flatMap(sentence => processSentence(sentence));

        // For each relevant sentence
        for (let j = 0; j < allRelevantSentences.length; j++) {
            let relevantSentence = allRelevantSentences[j];

            let maxMatchCount = 0;
            let maxMatchStart = 0;

            // Slide a window of the length of the relevant sentence across the passage
            for (let start = 0; start <= passageText.length - relevantSentence.length; start++) {
                let matchCount = 0;

                // Count the matching characters in this window
                for (let i = 0; i < relevantSentence.length; i++) {
                    if (passageText[start + i].toLowerCase() === relevantSentence[i].toLowerCase()) {
                        matchCount++;
                    }
                }

                // Update the maximum match if this window is better
                if (matchCount > maxMatchCount) {
                    maxMatchCount = matchCount;
                    maxMatchStart = start;
                }
            }

            // Highlight the part of the passage that had the maximum match to the relevant sentence
            let before = passageText.slice(0, maxMatchStart);
            let match = passageText.slice(maxMatchStart, maxMatchStart + relevantSentence.length);
            let after = passageText.slice(maxMatchStart + relevantSentence.length);
            passageText = before + '<span class="highlight">' + match + '</span>' + after;
        }

        // Update the current passage with the new highlighted text
        passageElement.innerHTML = passageText;
    }


    function handleSubmit(event) {
        event.preventDefault();
        let nextButton = document.getElementById('next-btn');
        let submitButton = document.getElementById('submit-btn');
        let resultMessage = document.getElementById('result-message');
        let answer = document.querySelector('.selected').innerText;
        let correctAnswer = "{{ question.choices|get_item:question.answer|force_escape }}";
        let correctChoice = "{{ question.choices|get_item:question.answer|force_escape }}";
        let explanation_str = "{{ question.explanation|escapejs|safe }}";
        let choiceButtons = document.getElementsByClassName('choice-btn');

        let relevant_sentences_str = "{{ question.relevant_sentences|escapejs|safe }}";
        let relevant_sentences_raw = eval(relevant_sentences_str);
        let relevant_sentences = [];

        for (let i = 0; i < relevant_sentences_raw.length; i++) {
            let sentence = relevant_sentences_raw[i];
            if (sentence[0] === '"' && sentence[sentence.length - 1] === '"') {
                sentence = sentence.slice(1, -1);
            }
            let doc = nlp(sentence);
            relevant_sentences = relevant_sentences.concat(doc.sentences().out('array'));
        }

        highlightPassage(relevant_sentences);

        let alertDiv = document.createElement('div');
        alertDiv.classList.add('alert-message');

        console.log(`Answer: ${answer}, Correct Answer: ${correctAnswer}`);
        correctAnswer = correctAnswer
            .replace(/&amp;/g, "&")
            .replace(/&lt;/g, "<")
            .replace(/&gt;/g, ">")
            .replace(/&quot;/g, '"')
            .replace(/&#x27;/g, "'")
            .replace(/&#x2F;/g, "/")
            .replace(/&#x60;/g, "`");
        console.log(`Answer: ${answer}, Correct Answer unescaped: ${correctAnswer}`);
        if (answer.trim().toLowerCase() === correctAnswer.trim().toLowerCase()) {
            selectedButton.classList.remove('selected');
            selectedButton.classList.add('correct');
            alertDiv.innerHTML = '<strong>Correct!</strong><br>';
            alertDiv.classList.add('alert-success');
        } else {
            selectedButton.classList.remove('selected');
            selectedButton.classList.add('incorrect');

            // To color the correct choice green
            for (let i = 0; i < choiceButtons.length; i++) {
                correctChoice = correctChoice
                    .replace(/&amp;/g, "&")
                    .replace(/&lt;/g, "<")
                    .replace(/&gt;/g, ">")
                    .replace(/&quot;/g, '"')
                    .replace(/&#x27;/g, "'")
                    .replace(/&#x2F;/g, "/")
                    .replace(/&#x60;/g, "`");
                if (choiceButtons[i].innerText.trim().toLowerCase() === correctChoice.trim().toLowerCase()) {
                    choiceButtons[i].classList.add('correct');
                    break;
                }
            }

            alertDiv.innerHTML = '<strong>Incorrect! The correct answer is: ' + unescape(correctChoice) + '</strong><br>';
            alertDiv.classList.add('alert-error');
        }

        alertDiv.appendChild(document.createElement('br'));

        if (explanation_str) {
            let explanationDiv = document.createElement('div');
            explanationDiv.classList.add('explanation');
            explanationDiv.innerHTML = '<strong>Explanation:</strong> ' + explanation_str;
            alertDiv.appendChild(explanationDiv);
            alertDiv.appendChild(document.createElement('br'));
        }

        if (relevant_sentences_str) {
            let relevantDiv = document.createElement('div');
            relevantDiv.classList.add('relevant-sentences');
            relevantDiv.innerHTML = '<strong>Relevant Sentences:</strong> ';
            let ulElement = document.createElement('ul');
            for (let i = 0; i < relevant_sentences.length; i++) {
                let liElement = document.createElement('li');
                let sentence = relevant_sentences[i];
                if (relevant_sentences_raw.includes('"' + sentence + '"')) {
                    sentence = '"' + sentence + '"';
                }
                liElement.textContent = sentence;
                ulElement.appendChild(liElement);
            }
            relevantDiv.appendChild(ulElement);
            alertDiv.appendChild(relevantDiv);
        }

        resultMessage.innerHTML = '';
        resultMessage.appendChild(alertDiv);

        setTimeout(function() {
            nextButton.disabled = false; // enable the next button after 5 seconds
        }, 5000); // 5000 milliseconds = 5 seconds
        // nextButton.disabled = false;

        let questionId = "{{ question.id }}";
        updateUserAnswer(questionId, answer);

        submitButton.disabled = true;
        submitted = true;
    }





function updateUserAnswer(questionId, selectedAnswer) {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function () {
        if (this.readyState === 4 && this.status === 200) {
            console.log("UserAnswer updated");
            
        } else if (this.readyState === 4) {
            console.log("Error updating UserAnswer");
        }
    };

    xhttp.open("POST", "/update_user_answer/", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest"); // Make sure to include this header
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(`question_id=${questionId}&selected_answer=${selectedAnswer}`);
}

    document.getElementById('answer-form').addEventListener('submit', handleSubmit);

    </script>

    <div class="choice-container">
        {% for choice in question.choices|slice:":2" %}
        <div class="choice-item">
            <button type="button" class="choice-btn" onclick="handleChoiceClick(this)">{{ choice }}</button>
        </div>
        {% endfor %}
        {% for choice in question.choices|slice:"2:" %}
        <div class="choice-item">
            <button type="button" class="choice-btn" onclick="handleChoiceClick(this)">{{ choice }}</button>
        </div>
        {% endfor %}
    </div>


    <!-- <div class="alert-error"> -->
        <div id="result-container">
            <div id="result-message"></div>
            <div id="action-buttons">
                <button type="submit" id="submit-btn" disabled>Submit Answer</button>
                <button id="next-btn" onclick="handleNextClick()" disabled>Next</button>
            </div>
            
        </div>
        
    <!-- </div> -->
    

    
    
  </form>
  

    <script>
        function handleNextClick() {
            window.location.href = "{% url 'test' %}";
        }
    </script>

</div>

    
{% endblock %}
