{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="navbar">
    <div class="nav-logo"><img src="{% static 'mysite/logo.png' %}" width="250px", height="auto"></div>
    <div class="nav-links">
        <a class="nav-link" href="{% url 'home' %}"><span class="active-page">Home</span></a>
        <a class="nav-link" href="{% url 'test' %}">Test</a>
        <a class="nav-link" href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:none;">
            {% csrf_token %}
        </form>
    </div>
</div>

<div id="home-content">
    <!-- Empty body -->
    <div class="text-container">
        <h1 id="home-header">Improve your reading comprehension skills with AIComprehend!</h1>
        <p id="home-paragraph">Unleash your inner reading champion with AIComprehend! Our app uses machine learning to customize reading materials for you, with curated and engaging passages and questions. Try it now and discover the joy of learning!</p>
        <a href="https://www.youtube.com/watch?v=W7BW9gv_OkU"><button id="home-button">Watch the tutorial</button></a>
    </div>

    <img src="{% static 'mysite/home-splash-2.png' %}" class="home-splash">
</div>
{% endif %}

{% endblock %}